[submodule "Wallpaper"]
	path = Wallpaper
	url = git@github.com:TobyOrNot2B/Wallpaper.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:TobyOrNot2B/nvim.git
[submodule ".config/xmonad"]
	path = .config/xmonad
	url = git@github.com:TobyOrNot2B/xmonad.git
[submodule "bin"]
	path = bin
	url = git@github.com:TobyOrNot2B/bin.git
