Config { 

   -- appearance
     font =         "xft:Roboto Mono:size=9:bold:antialias=true,Symbols Nerd Font:size=9:2048-em:antialias=true"
   , bgColor =      "#0A0E14"
   , fgColor =      "#B3B1AD"
   , position =     BottomW L 100
   , borderColor =  "#646464"

   -- layout
   , template = " %battery%  %date% }%UnsafeStdinReader%{"

   -- general behavior
   , lowerOnStart =     True    -- send to bottom of window stack on start
   , hideOnStart =      False   -- start with window unmapped (hidden)
   , allDesktops =      False   -- show on all desktops
   , overrideRedirect = True    -- set the Override Redirect flag (Xlib)
   , pickBroadest =     True    -- choose widest display (multi-monitor)
   , persistent =       True    -- enable/disable hiding (True = disabled)

   , commands = 
        [ Run Battery        [ "--template" , "<fc=#91B362><acstatus></fc>" 
                             , "--Low"      , "10"        -- units: %
                             , "--low"      , "#FF3333"
                             , "--suffix"   , "True"
                             , "--" -- battery specific options
                                        , "-o"	, "<left> <timeleft>" -- discharging status
                                        , "-O"	, "<left>" -- AC "on" status
                                        , "-i"	, "AC" -- charged status
                             ] 50

        , Run Date           "<fc=#ABABAB>%-d %b %H:%M</fc>" "date" 10
        , Run UnsafeStdinReader
        ]
   }
